<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:tbody="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Codecool" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>Codecool Shop</title>

    <!-- Bootstrap components -->
    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <!--Latest compiled and minified Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- End of Bootstrap components -->

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="/static/css/custom.css" />

    <script src="https://www.paypal.com/sdk/js?client-id=sb"></script>
    <script>paypal.Buttons().render('body');</script>
</head>

<body>
    <div class="container" id="information">
        <div class="container" id="cart-preview">
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th>Product name</th>
                    <th>Amount</th>
                    <th>Price</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="lineItem : ${order.getCart().getLineItems()}">
                    <td th:text="${lineItem.getProduct().getName()}">Product name</td>
                    <td th:text="${lineItem.getQuantity()}">Quantity</td>
                    <td th:text="${lineItem.getProduct().getPrice()}"></td>
                </tr>
                <tr class="table-secondary">
                    <td>Total cost:</td>
                    <td></td>
                    <td th:text="${order.getCart().getTotalPrice()}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="container" id="personal-info">
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th>Personal Information</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Full name</td>
                    <td th:text="${order.getPersonalInfo().getFullName()}"></td>
                </tr>
                <tr>
                    <td>E-mail</td>
                    <td th:text="${order.getPersonalInfo().getEmail()}"></td>
                </tr>
                <tr>
                    <td>Phone number</td>
                    <td th:text="${order.getPersonalInfo().getPhoneNumber()}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="container" id="addresses">
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th>Address information</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr class="table-light">
                    <td>Shipping address</td>
                    <td th:text="${order.getShippingAddress().getWholeAddress()}"></td>
                </tr>
                <tr class="table-light">
                    <td>Billing address</td>
                    <td th:text="${order.getBillingAddress().getWholeAddress()}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="accept-details">
            <label class="custom-control-label" for="accept-details">I confirm that these information are correct</label>
        </div>
    </div>




<div th:replace="footer.html :: copy"></div>

</body>
</html>